.rejected {
  background-color: #d4351c;
  color: white;
}
.sent {
  background-color: #1d70b8;
  color: white;
}

.sent,
.rejected,
.accepted {
  padding: 4px 4px 4px 4px;
  border: solid 1px black;
}
