@import 'node_modules/govuk-frontend/govuk/all';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import './vars';
@import './gov-uk-overrides.scss';

html.lbh-template > body.lbh-template__body * {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $hackney-green;
}

.remove-margin-bottom {
  margin-bottom: 0px;
}

.bold-font {
  font-weight: bold
}
.small {
  font-size: 1em !important;
  line-height: 1.2em !important;
}

.ResourceCard_tags__1Zgh3 {
  float:left;
  margin-bottom: 5px;
}

.ResourceCard_resource__-Szc9 .ResourceCard_tags__container__3A8cx {
  margin-bottom: 0px;
  display: inherit;
}

.conv-prompt li {
  background: url('/assets/images/conv-prompt-icon.png') no-repeat left top;
  padding: 0px 0px 10px 45px;
  list-style: none;
  margin-bottom: 25px;
}

.conv-prompt-text {
  font-weight:600;
  margin: 0px;
}

.conv-support-text {
  color:#505a5f;
}

.conv-support-text a {
  color: #025ea6;
  font-weight:600;
}

.button-as-link {
  background: none!important;
  border: none;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
  color: #1d70b8;
}
