@import 'node_modules/govuk-frontend/govuk/all';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import './vars';
@import './gov-uk-overrides.scss';

html.lbh-template > body.lbh-template__body * {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $hackney-green;
}
.remove-margin-bottom {
margin-bottom: 0px;
}
.bold-font {
  font-weight: bold
}
.small {
  font-size: 1em !important;
  line-height: 1.2em !important;
}
.align-horizontally {
  position: relative;
  float: left;
  clear: none;
  width: 160px;
  margin-left: 6em;
}
.horizontal-label{
  position: absolute;
  float: left;
  width: 70px;
  margin-left: 1em;
  height: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.align-center{
  align-items: center;
}
.checkbox-list{
position: relative;
}