.success-message,
.error-message {
  padding: 16px 16px 16px 16px;
}
.success-message {
  background-color: #dbedc2 !important;
  border-left: 2px solid;
  border-color: #8aa367;
  margin-top: 16px;
  clear: both;
}
.error-message {
  background-color: #f4ccccff !important;
  clear: both;
  border-left: 2px solid;
  border-color: #ab1f13;
}
.notification-button {
  float: right;
  margin: 8px;
}
