.search-results-header {
  font-weight: 400;
}

.feedback-textarea {
  height: 110px;
  width: 390px;
}

.feedback-details {
  margin-top: 8px !important;
}

.success-message {
  padding: 16px 16px 16px 16px;
  background-color: #dbedc2 !important;
  border-left: 2px solid;
  border-color: #8aa367;
  margin-top: 16px;
  clear: both;
}

