.ie-support-warning-banner {
  outline: 1px solid #ff000c;
  padding: 1px 5px;
  margin-top: 0px;
}

.ie-banner__content {
  display: flex;
  flex-flow: row nowrap;
}

#ie-banner__tag {
  background-color: #d4351c;
  outline: 2px solid #f47738;
}
