@import '../pages/stylesheets/vars.scss';

.rejected {
  background-color: #d4351c;
}
.sent {
  background-color: #1d70b8;
}
.accepted {
  background-color: $hackney-green;
}

.sent,
.rejected,
.accepted {
  color: white;
}

.sent,
.rejected,
.accepted,
.empty {
  padding: 4px 15px 4px 15px;
  text-align: center;
  vertical-align: middle;
}
