.remove-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  font-size: medium;
}

.button {
  margin: 0 0 0 10px;
  padding: 4px;
  font-size: medium;
}

.remove-prompt {
  font-size: medium;
  margin-left: 45px;
}
